body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

h1 {
  text-align: center;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serf;
  font-size: 50px;
  font-weight: 100;
}

div#canvas {
  text-align: center;
}

/* This sets the color for "TK" nodes to a light blue green. */
g.type-TK > rect {
  fill: #00ffd0;
}
text {
  font-weight: 300;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serf;
  font-size: 14px;
}
.node rect {
  stroke: #999;
  fill: #fff;
  stroke-width: 1px;
}

.edgePath path {
  stroke: #999;
  stroke-width: 1px;
}

.voteButton {
  height: 13px;
  width: 13px;
}